@import url(../pages/index.css);
.recipes{
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;


}
.recipes__content{
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
.recipes__title{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: start;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 580px;
}
.recipes__subtitle{
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  padding-left: 80px;
  text-align: start;
  max-width: 438px;
}
.recipes__videos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 40px;
  padding: 0;
  position: relative;
  align-content: center;
  padding-bottom: 215px;
  padding-top: 80px;


}
.recipes__video-item{
  margin: 0;
  width: 480px;
  height: 273px;
  padding: 0;
  align-content: space-between;
  border: 0;
  display: block;


}
.iframe{
  width: 100%;
  height: 100%;
}
.recipes__video-caption{
  margin-top:24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
p{
  margin: 0;
}
.reservation{
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.reservation__title{
  padding-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}
.reservation__form{
  margin: auto;
  padding-top: 80px;
  width: 385px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.reservation__form-fieldset{
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 0;
}
.reservation__form-label{
  text-align: start;
  column-gap: 8px;
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-top: 32px;
  margin: 0;
}
.reservation__form-input{
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  top: 15px;
  bottom: 15px;
  border-color: #838383;
}
.reservation__form-input::placeholder{
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
/*tener en cuenta que hace falta continuar arreglando la parte visual*/
.reservation__form-button{
  border-radius: 4px;
  opacity: 70%;
  max-width: 385px;
  background-color: #2F80ED;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.reservation__form-button:hover{
  opacity: 100%;
}
.reservation__form-checkbox{
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-top: 32px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/*chequear esto debido a
que no cuadra aun para localizar el cuadro de terminos y condiciones*/
.reservation__form-input-checkbox{
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
  margin-right: 12px;
}
.reservation__form-checkbox[type="checkbox"]:checked{
  background-color: #2F80ED;
  background-image: url(../images/check.svg);
}

.reservation__form-pseudo-item{
  margin: 0;
  padding: 0;
}
.reservation__form-label-text{
  padding: 0;
  margin: 0;
  border: 0;
}
.menu{
  background-color: #ffffff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.menu__title{
  padding-top: 100px;
  margin:auto;
  text-align: center;
  max-width: 800px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle{
  padding-top: 24px;
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards{
  padding-top: 100px;
  display:flex;
  flex-direction: row;
  gap:100px;
  align-items: center;
  justify-content: center;
}
.card{
  width: 540px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin: auto;
}
.card__title{
  padding-top: 0%;
  padding-left: 0%;
  padding-bottom: 32px;
  margin-top: 0%;
  margin-left: 0%;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__content{
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  row-gap: 16px;
}
.card__list-item{
  display: flex;
  margin: 0%;
  padding: 0%;
}
.card__list-divider{
  flex-grow: 1;
  border-color:#838383;
  border-bottom: solid 1px;

}

/*terminar estamos quedados en centrar el texto del menu en 3 cuadro
tambien hace falta cordinar el fondo ya que no se ve nada parecido al
del bref */

/*tch*/
.about{
  background-color:#0A2850;
  display: flex;
  margin: 0%;
  padding: 0%;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.about_title{
  display: flex;
  max-width: 251px;
  padding-left: 80px;
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  margin: 0%;
}
.about_content{
  max-width: 660px;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
  margin-left: auto;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  justify-self: right;
  text-align: start;
  z-index: 2;
}
.about_paragraph{
  row-gap: 20px;
}
.about_circle{
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 0;
 left: -129px;
  top: -152px;
  position: absolute;
}
