
.page {
  min-width: 1100px;
  max-width: 1600px;
  text-align: center;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header{
  align-content: space-between;
  min-height: 720px;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff ;
  color: #000000 ;
  background-image:url(../images/background_header.svg) ;
}
.nav{
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__links{
  display: flex;
  flex-direction:row;
  list-style: none;
  padding-right: 80px;
  padding-top: 30px;
  margin: 0;
}
.nav__link{
  font-family: "Inter, Arial, sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding-right: 20px;
  text-decoration: none;
  text-decoration-line: none;
  color: #000000;


}
.nav__link:hover{
  color: #2f80ed ;
}
.logo{
  padding-top: 30px;
  padding-left: 30px;
  width: 105px;
  height: 39px;
  padding-bottom: 183px;
  position: relative;
  margin: 0;

}
.header__title{
  text-align: start;
  max-width: 729px;
  padding-left: 88px;
  font-family: "Inter, Arial, sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
}
.header__span-accent{
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}
.header__description{
  text-align: start;
  max-width: 683px;
  padding-left: 80px;
  padding-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image{
  align-self: end;
  position:absolute;
  width: 646px;
  height: 568px;
  padding-top: 124px;
  padding-right: 5px;
  display: flex;
}
.header__footer{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 80px;
  padding-bottom: 40px;
  padding-right: 80px;
  margin-top: auto;
  font-family: "Inter, 'Times New Roman', 'serif genérica'";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__paragraph{
  text-align: left;
  margin-bottom: 0;
  margin-top: auto;


}
.recipes{
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;


}
.recipes__content{
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
.recipes__title{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: start;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 580px;
}
.recipes__subtitle{
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  padding-left: 80px;
  text-align: start;
  max-width: 438px;
}
.recipes__videos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 40px;
  padding: 0;
  position: relative;
  align-content: center;
  padding-bottom: 215px;
  padding-top: 80px;


}
.recipes__video-item{
  margin: 0;
  width: 480px;
  height: 273px;
  padding: 0;
  align-content: space-between;
  border: 0;
  display: block;


}
.iframe{
  width: 100%;
  height: 100%;
}
.recipes__video-caption{
  margin-top:24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
p{
  margin: 0;
}
.content_reservation{
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.reservation__title{
  padding-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}
.reservation__form{
  margin: auto;
  padding-top: 80px;
  width: 385px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  border: none;

}
.form__fieldset{
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label{
  text-align: start;
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  margin-bottom: 8px;
}
.form__input{
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  top: 15px;
  bottom: 15px;
  border-color: #838383;
}
.form__input::placeholder{
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
/*tener en cuenta que hace falta continuar arreglando la parte visual*/
.form__button{
  border-radius: 4px;
  opacity: 70%;
  max-width: 385px;
  background-color: #2F80ED;
  height: 60px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.form__button:hover{
  opacity: 100%;
}
.form__label_terms{
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  justify-content: center;
}
/*chequear esto debido a
que no cuadra aun para localizar el cuadro de terminos y condiciones*/
.form__checkbox{
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
  margin-right: 12px;

}
.form__checkbox[type="checkbox"]:checked{
  background-color: #2F80ED;
  background-image: url(../images/check.svg);
}
.form__pseudo-item_type_checkbox{
  margin: 0;
  padding: 0;
}
.form__label-text{
  padding: 0;
  margin: 0;
  border: 0;
}
